In [5]:
import pandas as pd
import cx_Oracle
from sqlalchemy import create_engine

# 엑셀 파일을 데이터프레임으로 읽기
#df = pd.read_excel('../../prod최종본.xlsx')
#df = pd.read_csv('../../disease테이블.csv', encoding="euc-kr")
df = pd.read_csv('../../naver테이블.csv', encoding="utf-8")
df = df.astype(str)

In [6]:
df

   rank    keyword age1 age2 age3
0     1       오메가3  30대  40대  50대
1     2        비오틴  30대  40대  20대
2     3       양배추즙  30대  40대  20대
3     4      글루타치온  40대  50대  30대
4     5       비타민d  30대  40대  20대
..  ...        ...  ...  ...  ...
77   78      폴리코사놀  40대  50대  30대
78   79  기타건강즙/과일즙  40대  30대   없음
79   80     링곤베리퓨레  50대  40대  30대
80   81        여주환  40대  50대  30대
81   82        유산균  30대  40대  20대

[82 rows x 5 columns]

In [7]:
dsn = cx_Oracle.makedsn('localhost', 1521, 'xe')
minipro = "minipro"
dbdb = "dbdb"

engine = create_engine(f'oracle://{minipro}:{dbdb}@{dsn}')

#df.to_sql("disease", engine, if_exists='append', index=False)
#df.to_sql("prod", engine, if_exists='append', index=False)
df.to_sql("naver_table", engine, if_exists='append', index=False)

82